.App {
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: aqua;
  margin: 0 0 100px;
}
.cartButn {
  display: flex;
  justify-content: end;
  margin: 20px;
}
.carousel-container {
  background-color: white;
  width: fit-content;;
  height: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.Copyright {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  background-color: aliceblue;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control{
  height: 30px;
  display: flex;
  align-self: center;
}
.HeaderFooterColorBar {
  height: 4px;
  display: flex;
  justify-content: space-between;
}

.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-left: 10px;
  cursor: pointer;
}
.card-col{
  height:auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.go-back{
  margin-bottom: 10px;
  height: 40px;
}
.h1{
  margin-right: 30px;
}
.image-col {
display: flex;
width: 600px;
}
.image-props {
  height: auto;
  max-width: 100%;
}
.image-props2 {
  height: auto;
  max-width: 100%;
}
.image-props:hover {
  cursor: pointer;
}
.Link {
  margin: 30px;
  font-size: 25px;
  font-family: "Grandstander", cursive;
}
.Navs {
  width: 350px;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  margin-right: 50px;
}
.Products-Container{
  /* background-color: orange; */
  height: 800px;
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:blanchedalmond;
  border: 40px;
  border-color: blueviolet;
} 
.product-container {
  background-color: white;
  width: fit-content;;
  height: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}
.cart-item-container {
  background-color: white;
  width: fit-content;;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.product-row {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* .product-section {
  display: column;
  
} */
.title {
  text-decoration: underline;
}
.search {
  display: flex;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  background-color: aliceblue;
}
.img {
  margin-top: 25%;
}